﻿@model AT_Market.Models.Product

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>
<div class="row">
    <div class="col-lg-8">
        <h4>Product</h4>
    </div>
    <div class="col-lg-4" align="right">
        
            @Html.ActionLink("Edit", "Edit", new { id = Model.ProductID }, new { @class = "btn btn-danger" })  
            @Html.ActionLink("Back to List", "Index",new{}, new { @class = "btn btn-success" })
       
    </div>
</div>

   
<hr />

<div class="row">
    <div class="col-lg-4">

        @if (!string.IsNullOrEmpty(Model.Image))
        {
            <img src="@Url.Content(Model.Image)" alt="Imagem" style="width: 420px; height: 220px; max-width: 100%; height: auto" />
        }

    </div>

    <div class="col-lg-8">
        <dl class="dl-horizontal">

            <dt>
                @Html.DisplayNameFor(model => model.Description)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Description)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Price)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Price)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.LastBuy)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.LastBuy)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Stock)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Stock)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Remarks)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Remarks)
            </dd>

        </dl>
    </div>
</div>
<div class="row">
 

</div>
