﻿@model AT_Market.Models.ProductOrder
@{
    ViewBag.Title = "Adiciona Produto";
}

<h2>Escolher Produtos</h2>
@ViewBag.Error

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">



    <div class="form-group">
        @Html.LabelFor(model => model.ProductID, "Produto", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("ProductID", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.ProductID, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Quantity, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Quantity, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Quantity, "", new { @class = "text-danger" })
        </div>
    </div>

    <input type="submit" value="Adiciona Produto" class="btn btn-default" />

</div>
}

<div>
    @Html.ActionLink("Back to List", "NewOrder")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

