﻿@model AT_Market.ViewModels.UserView
@{
    ViewBag.Title = "Roles";
}

<h2>Permissões para o utilizador: @Model.Name</h2>

<p>
    @Html.ActionLink("Adicionar Permissão","AddRole", new{userID = Model.UserID}, new{@class="btn btn-primary"})
    @Html.ActionLink("Voltar","Index", new{}, new{@class="btn btn-info"})
</p>

<table class="table">
    @for (int i = 0; i < Model.Roles.Count; i++)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => Model.Roles[i].Name)
        </td>
        <td>
            @Html.ActionLink("Apagar", "Delete", new {userID=Model.UserID, roleID = Model.Roles[i].RoleID})
        </td>
    </tr>
    }
</table>
